* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background: rgb(20, 20, 20);
}

h2 {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: white;
}

h4 {
  font-family: "Roboto Slab", serif;
}

p {
  font-family: "Roboto Slab", serif;
  color: white;
  font-size: 18px;
}

a {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.hr {
  color: white;
  opacity: 1;
}

li {
  list-style: none;
}

.top-nav {
  display: none;
}

/* ========================== VARIABLES DE COLORES ========================== */
/* ========================== VARIABLES DE COLORES ========================== */
/* ========================== HEADER ========================== */
/* ========================== HEADER ========================== */
header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(30, 30, 30);
  align-items: center;
}
header .logo {
  transition: transform 0.3s ease;
  padding: 1rem 0px;
}
header .logo:hover {
  transform: scale(1.03);
}

.menu {
  display: flex;
  justify-content: space-around;
}
.menu > li > .anchor_nav {
  display: flex;
  justify-content: space-around;
  padding: 15px 2vw;
  color: rgb(235, 235, 235);
}
.menu li a:hover {
  color: #fdd558;
  transition: all 0.3s;
  transition: opacity 1.5s;
  background-color: rgb(25, 25, 25);
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* ========================== MODO SMARTPHONE ========================== */
/* ========================== MODO SMARTPHONE ========================== */
@media screen and (max-width: 414px) {
  header img {
    width: 80%;
  }
}
/* ========================== HERO ========================== */
/* ========================== HERO ========================== */
.hero video {
  width: 100%;
}
.hero .nascar-logo {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
}

/* ========================== FOOTER ========================== */
/* ========================== FOOTER ========================== */
footer {
  background-color: rgb(20, 20, 20);
  color: white;
  padding: 20px;
}
footer .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-container .copy {
  text-align: center;
  flex-grow: 1;
  margin-left: 180px;
}
footer .footer-container .social a {
  margin-left: 10px;
}

/* ========================== BREAKPOINT INTERMEDIO ENTRE TABLET Y SMARTPHONE ========================== */
@media screen and (max-width: 800px) {
  footer .footer-container {
    display: flex;
    flex-direction: column;
  }
  footer .footer-container .copy {
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 10px;
  }
}
/* ========================== ULTIMAS NOTICIAS ========================== */
/* ========================== ULTIMAS NOTICIAS ========================== */
#noticias {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  align-content: center;
  gap: 1vw;
  justify-content: center;
  margin-left: auto;
  justify-items: center;
  padding-top: 80px;
  margin-top: -80px;
}
#noticias .noticia1,
#noticias .noticia2,
#noticias .noticia3,
#noticias .noticia4 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(4 auto);
  grid-template-areas: "a" "b" "c" "d";
  text-align: center;
  transition: transform 0.3s ease;
  padding-top: 30px;
  max-width: 550px;
}
#noticias .noticia1:hover,
#noticias .noticia2:hover,
#noticias .noticia3:hover,
#noticias .noticia4:hover {
  transform: scale(1.03);
}
#noticias .image-container {
  grid-area: a;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid white;
  width: 100%;
  height: 100%;
}

.titulo {
  grid-area: b;
  text-align: center;
  border-left: 2px solid white;
  border-right: 2px solid white;
  padding-top: 10px;
  font-weight: bold;
  font-size: 100%;
  margin-bottom: 0;
}

.parrafo {
  grid-area: c;
  border-left: 2px solid white;
  border-right: 2px solid white;
  padding-top: 17px;
  font-size: 100%;
  margin-bottom: 0;
}

.ver-noticia-completa {
  grid-area: d;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  font-weight: bold;
  font-size: 100%;
}
.ver-noticia-completa:hover {
  text-decoration: underline;
}

.ver-completo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ver-noticias-completas {
  display: inline-block;
  padding: 30px 0px;
}
.ver-noticias-completas:hover {
  text-decoration: underline;
}

/* ========================== LIDERES DEL CAMPEONATO ========================== */
/* ========================== LIDERES DEL CAMPEONATO ========================== */
.lideres {
  display: flex;
  margin-left: auto;
  align-items: center;
  padding-top: 50px;
}

.pos {
  width: 18vw;
  border: 2px solid white;
  border-radius: 50px;
  transition: transform 0.3s ease;
  margin-left: auto;
  margin-right: auto;
  min-width: 150px;
}
.pos:hover {
  background-color: rgb(10, 10, 10);
  transition: 0.3s;
  transform: scale(1.02);
}
.pos .img-container {
  width: 18vw;
  min-width: 150px;
}

.nombre {
  text-align: center;
  padding-top: 25px;
}

.pts {
  color: white;
  text-align: center;
  padding-bottom: 25px;
}

.ver-completo {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.ver-completo:hover {
  text-decoration: underline;
}

/* ========================== ULTIMOS VIDEOS ========================== */
/* ========================== ULTIMOS VIDEOS ========================== */
.ultimos-videos {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  gap: 1vw;
}
.ultimos-videos .vid-container {
  width: 50%;
  margin: auto;
  border: 1px solid white;
  padding-top: 30%;
  position: relative;
}
.ultimos-videos .vid-container iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

/* ========================== PROXIMAS CARRERAS ========================== */
/* ========================== PROXIMAS CARRERAS ========================== */
.proximas-carreras {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  gap: 50px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
.proximas-carreras .carrera .nombre {
  grid-area: b;
  font-size: 100%;
}

.carrera {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "a" "b" "c";
  border: white solid 2px;
  border-radius: 50px;
  transition: transform 0.3s ease;
}
.carrera:hover {
  background-color: rgb(10, 10, 10);
  transition: 0.3s;
  transform: scale(1.02);
}

.imgs {
  grid-area: a;
  width: 100%;
  padding: 10px;
}

.fecha {
  grid-area: c;
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: 100%;
}

/* ========================== MODO TABLET ========================== */
/* ========================== MODO TABLET ========================== */
@media screen and (max-width: 1100px) {
  #noticias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .noticia1:hover,
  .noticia2:hover,
  .noticia3:hover,
  .noticia4:hover {
    transform: scale(1);
  }
}
/* ========================== BREAKPOINT INTERMEDIO ENTRE TABLET Y SMARTPHONE ========================== */
@media screen and (max-width: 800px) {
  .navegacion {
    display: none;
  }
  .proximas-carreras {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .lideres {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .lideres .pos {
    min-width: 250px;
  }
  .lideres .pos .img-container {
    min-width: 250px;
  }
  /* ========================== MENU HAMBURGUESA ========================== */
  /* ========================== MENU HAMBURGUESA ========================== */
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
  }
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding-top: 50px;
  }
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  .menu-button-container {
    display: none;
    height: 100%;
    width: auto;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle {
    display: none;
  }
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 100px;
  }
  .menu-button::before {
    content: "";
    margin-top: -8px;
  }
  .menu-button::after {
    content: "";
    margin-top: 8px;
  }
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
}
@media screen and (max-width: 800px) and (max-width: 800px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 1;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
/* ========================== MODO SMARTPHONE ========================== */
/* ========================== MODO SMARTPHONE ========================== */
@media screen and (max-width: 414px) {
  .navegacion {
    display: none;
  }
  #noticias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .lideres {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .lideres .pos {
    min-width: 120px;
  }
  .lideres .pos .img-container {
    min-width: 120px;
  }
  .ultimos-videos {
    display: flex;
    flex-direction: column;
  }
  .proximas-carreras {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .proximas-carreras .carrera {
    max-width: 230px;
  }
}
/* ========================== CAMPEONATO ========================== */
/* ========================== CAMPEONATO ========================== */
table {
  width: 70vw;
  height: 70vw;
  border-collapse: collapse;
  margin: 10px auto;
}

th {
  border: 2px solid white;
  color: white;
  text-align: center;
  background-color: rgb(30, 30, 30);
  font-family: "Montserrat", sans-serif;
  font-size: 80%;
  color: white;
}

td {
  border: 2px solid white;
  color: white;
  text-align: center;
  font-family: "Racing Sans One", cursive;
  font-size: 80%;
}

.img-tabla {
  width: 50px;
}

/* ========================== VIDEOS ========================== */
/* ========================== VIDEOS ========================== */
.videos {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  padding: 40px;
  gap: 30px;
}
.videos .vid-container {
  width: 90%;
  margin: auto;
  border: 1px solid white;
  padding-top: 320px;
  position: relative;
}
.videos .vid-container iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

/* ========================== BREAKPOINT INTERMEDIO ENTRE TABLET Y SMARTPHONE ========================== */
@media screen and (max-width: 800px) {
  .videos {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    padding: 40px;
    gap: 30px;
  }
  /* Media Querie para ajustar la seccion video */
}
@media screen and (max-width: 800px) and (max-width: 650px) {
  .videos {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(6, auto);
    padding: 40px;
    gap: 30px;
  }
}
/* ========================== PILOTOS ========================== */
/* ========================== PILOTOS ========================== */
.pilotos {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  width: 80%;
  margin: 0 auto;
}
.pilotos .pilotos-container {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(6, auto);
  gap: 30px;
}
.pilotos .pos img {
  width: 100%;
}
.pilotos .pilotos .pos h3 {
  font-size: 80%;
  padding: 10px 10px;
}

/* ========================== MODO TABLET ========================== */
/* ========================== MODO TABLET ========================== */
@media screen and (max-width: 1100px) {
  .pilotos .pilotos-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(6, auto);
    gap: 30px;
  }
}
/* ========================== BREAKPOINT INTERMEDIO ENTRE TABLET Y SMARTPHONE ========================== */
/* ========================== BREAKPOINT INTERMEDIO ENTRE TABLET Y SMARTPHONE ========================== */
@media screen and (max-width: 800px) {
  .pilotos .pilotos-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, auto);
    gap: 30px;
  }
  .pilotos .pilotos-container .pos {
    width: 18vw;
    border: 2px solid white;
    border-radius: 50px;
    transition: transform 0.3s ease;
    margin-left: auto;
    margin-right: auto;
    min-width: 120px;
  }
  .pilotos .pilotos-container .pos img {
    width: 100%;
  }
}
/* ========================== SECCION NOTA ========================== */
/* ========================== SECCION NOTA ========================== */
.section-nota {
  padding: 50px;
}
.section-nota .article-nota {
  margin-bottom: 20px;
  background-color: rgb(30, 30, 30);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.section-nota .article-nota h2 {
  padding-top: 10px;
}
.section-nota .article-nota .fecha {
  color: #999;
  font-style: italic;
  margin-top: 5px;
  transition: color 0.3s ease;
  display: flex;
  justify-content: center;
}
.section-nota .article-nota .image-container {
  text-align: center;
  overflow: hidden;
  transition: transform 0.3s ease;
}
.section-nota .article-nota .image-container:hover img {
  transform: scale(1.1);
  border-radius: 5px;
}
.section-nota .article-nota .image-container img {
  max-width: 80%;
  border-radius: 5px;
  margin-top: 20px;
  transform: scale(1);
  transition: transform 0.3s ease;
}
.section-nota .article-nota .content-nota {
  margin-top: 20px;
  line-height: 1.5;
  transition: opacity 0.3s ease;
}

/* ========================== MODO SMARTPHONE ========================== */
/* ========================== MODO SMARTPHONE ========================== */
@media screen and (max-width: 414px) {
  .section-nota .article-nota .content-nota .content,
  .section-nota .article-nota .content-nota p {
    font-size: small;
  }
}

/*# sourceMappingURL=styles.css.map */
