/* ========================== CAMPEONATO ========================== */
/* ========================== CAMPEONATO ========================== */


table {
    width: 70vw;
    height: 70vw;
    border-collapse: collapse;
    margin: 10px auto;
}

th {
    border: 2px solid white;
    color: white;
    text-align: center;
    background-color: rgb(30, 30, 30);
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
    color: white;
}

td {
    border: 2px solid white;
    color: white;
    text-align: center;
    font-family: 'Racing Sans One', cursive;
    font-size: 80%;
}

.img-tabla {
    width: 50px;
}