/* ========================== PILOTOS ========================== */
/* ========================== PILOTOS ========================== */


.pilotos {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    width: 80%;
    margin: 0 auto;

    .pilotos-container {
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(6, auto);
        gap: 30px;
    }

    .pos img {
        width: 100%;
    }

    .pilotos .pos h3 {
        font-size: 80%;
        padding: 10px 10px;
    }
}

/* ========================== MODO TABLET ========================== */
/* ========================== MODO TABLET ========================== */

@media screen and (max-width : 1100px) {
    .pilotos .pilotos-container {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(6, auto);
        gap: 30px;
    }
}

/* ========================== MODO SMARTPHONE ========================== */
/* ========================== MODO SMARTPHONE ========================== */

@media screen and (max-width : 530px) {
    .pilotos{
        .pilotos-container {
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(6, auto);
            gap: 30px;
    
            .pos {
                width: 18vw;
                border: 2px solid white;
                border-radius: 50px;
                transition: transform 0.3s ease;
                margin-left: auto;
                margin-right: auto;
                min-width: 120px;
    
                img {
                    width: 100%;
                }
            }
        }
    }
}