/* ========================== FOOTER ========================== */
/* ========================== FOOTER ========================== */

footer {
    background-color: $body-color;
    color: white;
    padding: 20px;

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .copy {
            text-align: center;
            flex-grow: 1;
            margin-left: 180px;
        }

        .social a {
            margin-left: 10px;
        }
    }
}

/* ========================== BREAKPOINT INTERMEDIO ENTRE TABLET Y SMARTPHONE ========================== */

@media screen and (max-width : 800px) {

    footer {

        .footer-container {
            display: flex;
            flex-direction: column;

            .copy {
                display: flex;
                justify-content: center;
                margin: 0;
                padding-bottom: 10px;
            }
        }

    }
}