/* ========================== HEADER ========================== */
/* ========================== HEADER ========================== */

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: $header-color;
    align-items: center;

    .logo {
        transition: transform 0.3s ease;
        padding: 1rem 0px;

        &:hover {
            transform: scale(1.03);
        }


    }
}

.navbar .navbar-nav .nav-link{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4rem;
    transition: color 0.3s ease;
    border-bottom: 1px solid transparent;

    &:hover{
        color: $hover-color;
    }
}


/* ========================== MODO SMARTPHONE ========================== */
/* ========================== MODO SMARTPHONE ========================== */

@media screen and (max-width : 414px) {
    header {
        img {
            width: 80%;
            margin: 0 20px;
        }
    }
}