/* ========================== HERO ========================== */
/* ========================== HERO ========================== */


.hero {
    video {
        width: 100%;
    }

    & .nascar-logo {
        padding: 10px 0px;
        display: flex;
        justify-content: center;
    }
}
